html {
  box-sizing: border-box;
}

.comment {
  display: flex;
  margin: 5px;
  .username {
    margin-right: 10px;
    font-weight: bold;
  }
}

.commentContainer {
  display: flex;
  flex-direction: column;
}

#newComment {
  height: 30px;
  margin: 10px 10px;
  width: 95%;
  padding-left: 5px;
}
