html {
  box-sizing: border-box;
}

.postHeader {
  display: flex;
  align-content: center;
  align-items: center;
  align-items: center;
  img {
    height: 30px;
    border-radius: 50%;
    margin: 10px;
  }
}

